---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Blogs",
	title: "Blogs",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Mastery Learning</h1>
	<p class="mb-8">As I go through my masters journey, I am to write blogs on all the things I am exploring. Come back soon for more :)</p>
</PageLayout>
