---
const interests = [
	"Logic Programming",
	"Nonmonotonic Reasoning",
	"Belief Revision",
	"Reinforcement Learning",
];
---

<div class="space-y-8">
	<ul class="list-disc list-inside">
		{interests.map((interest) => (
			<li>{interest}</li>
		))}
	</ul>
</div>
